<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='{{ url_for('static', filename='/css/style.css') }}'>
    <title>Edit Your Game</title>
</head>
<body>
    <div class="container row justify-content-center mx-auto mt-2">
        <!-- START HEADER -->
        <div class="row align-middle">
            <h2 class="col-6">Game Hub</h2>
            <a class="col-3 text-end" href="/create">My Games</a>
            <h3 class="col-3 welcome">{{ user.username }}, edit _____ </h3>
        </div>
        <div class="row align-items-center">
            <h5 class="col-8">Got something new you wanna add to this amazing game you added to your games list? Add it here!</h5>
            <a class="col btn btn-primary mr-3" href="/dashboard" role="button">Dashboard</a>
            <a class="col btn btn-outline-secondary logout" href="/user/logout" role="button">Logout</a>
        </div>
        <!-- END HEADER -->
            <form action="/game/update/process/{{game.id}}" method="post" class="col-4 bg-light p-4 my-5 mx-auto text-success" >
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Please note:</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                <h2 class="text-center text-success">Edit Your Game</h2>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" value="{{game.title}}">
                </div>
                <div class="form-group">
                    <label for="platform">Platform:</label>
                    <input type="text" name="platform" class="form-control" value="{{game.platform}}">
                </div>
                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <input type="text" name="genre" class="form-control" value="{{game.genre}}">
                </div>
                <div class="form-group">
                    <label for="release_date">Release Date</label>
                    <input type="date" name="release_date" class="form-control" value="{{ game.release_date }}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="textarea" name="description" class="form-control" value="{{game.description}}">
                </div>
                <input type="hidden" name="id" value="{{ game.id }}">
                <input type="submit" value="Update Game Details" class="btn btn-success btn-outline-light">
        </form>
    </div>
</body>
</html>
