<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous'>
    <link rel='stylesheet' href="{{ url_for('static', filename='/css/style.css' ) }}"">
    <title>Edit Your Game</title>
    </head>
    
    <body>
        <div class="container row justify-content-center mx-auto mt-2">
            
            
            <!-- HEADER START -->
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                            <img class="nav" src="{{ url_for('static', filename='/imgs/navigation.ico') }}" alt="Navigation">
                        </button>
                    </div>
                    <div class="col">
                        <img class="game-logo mx-auto d-block"
                        src="{{url_for('static', filename='/imgs/GAMECODE-AI-CS6.png')}}" alt="GameHub Logo">
                    </div>
                    
                    <div class="col-1">
                        <h3 class="welcome mt-5">Welcome, {{ user.username }}</h3>
                    </div>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">GameHub</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="dropdown mt-3">
                                <ul class="list-group">
                                    <li class="list-group-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                                    <li class="list-group-item"><a class="nav-link" href="/user/account/{{ user.id }}">My Profile</a></li>
                                    <li class="list-group-item"><a class="nav-link" href="/logout">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- HEADER END -->
        
        <form action="/game/update/process/{{game.id}}" method="post"
        class="col-6 bg-light p-4 my-5 mx-auto text-success">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <strong>Please note:</strong>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2 class="text-center text-success">Edit Your Game</h2>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" value="{{game.title}}">
        </div>
        <div class="form-group">
            <label for="platform">Platform:</label>
            <input type="text" name="platform" class="form-control" value="{{game.platform}}">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
                <input type="text" name="genre" class="form-control" value="{{game.genre}}">
            </div>
            <div class="form-group">
                <label for="release_date">Release Date</label>
                <input type="date" name="release_date" class="form-control" value="{{ game.release_date }}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="textarea" name="description" class="form-control" value="{{game.description}}">
            </div>
            <input type="hidden" name="id" value="{{ game.id }}">
            <input type="submit" value="Update Game Details" class="btn btn-success btn-outline-light mt-2">
        </form>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj'
        crossorigin='anonymous'></script>
</body>
</html>