/* .game-logo {
    width: 150px !important;
} */

.list-container, {
    margin-top: 3em;
}

/* .cntnr-bx {
    margin-top: 250px;
} */

.container {
    width:100%;
}

.login {
    margin-left: 100px;
}